@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$primary: #ff9800;
$link: $primary;

ul.firebaseui-idp-list {
  list-style: none;
}
ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
a.navbar-item.is-active::after,
.navbar-link.is-active::after {
  content: '';
  height: 5px;
  width: 80%;
  background-color: $primary;
  position: absolute;
  bottom: 0;
  left: 15px;
  transition: 0.5s all ease-in-out;
}

body {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.footer {
  padding: 0 2rem;
  background: linear-gradient(to right, $primary, lighten($primary, 10%));
  color: white;

  @media (max-width: 567px) {
    padding: 0 1.2rem;
  }
  a {
    color: white;
  }
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1.8rem;
}

h3 {
  margin-bottom: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
}

ul {
  list-style: square;
}

.icon.icon-link {
  background-image: url('~assets/svg/icon-hashtag.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

@import '~bulma/bulma';
